{#
  One phenotype record as a list row. The including loop provides:
    - r: a record with image, phenotypes (list), chemical, fish, study_id, age
#}
<li class="atlas-row">
  <a class="atlas-row__media" href="#" aria-label="View record {{ r.id }}">
    {% include "partials/atlas_media.html" %}
  </a>
  <div class="atlas-row__main">
    {% include "partials/atlas_phenotypes.html" %}
    <dl class="atlas-row__meta">
      <div><dt>Chemical</dt><dd>{{ r.chemical }}</dd></div>
      <div><dt>Fish</dt><dd>{{ r.fish }}</dd></div>
      <div><dt>Study Id</dt><dd>{{ r.study_id }}</dd></div>
      <div><dt>Age</dt><dd>{{ r.age }}</dd></div>
    </dl>
  </div>
  <a class="atlas-row__view" href="#">
    {% include "icons/eye.svg" %}
    View
  </a>
</li>
