{#
  One submission row. The including page provides:
    - s:  a submission with title, status, date, and optionally
          group_name / group_id (shown when present, e.g. on My Submissions)
#}
<li class="dash-sub">
  <span class="dash-sub__icon">{% include "icons/fish.svg" %}</span>
  <div class="dash-sub__info">
    <span class="dash-sub__title">{{ s.title }}</span>
    <span class="dash-sub__meta">
      {% if s.group_name %}
        <a href="/research-groups/{{ s.group_id }}">{{ s.group_name }}</a>
      {% endif %}
      <span class="dash-sub__status dash-sub__status--{{ s.status | lower | replace(' ', '-') }}">
        {{ s.status }}
      </span>
    </span>
  </div>
  <span class="dash-sub__date">{{ s.date }}</span>
</li>
